<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column content has-text-centered">
                <h6>Copyright {{date format="YYYY"}}, Sean Klein</h6>
                <p>This work is licensed under a
                    <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. In other words, share generously but provide
                    attribution.
                </p>
            </div>
            <div class="column content has-text-centered">
                <h6>Disclaimer</h6>
                <p>Opinions expressed here are my own.</p>
            </div>
            <div class="column content has-text-centered">
                <h6>Published with Ghost</h6>
                <p>This site runs on <a href="https://ghost.org/">Ghost</a>. 
            </div>
        </div>
    </div>
</footer>