<div class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item">
            {{@blog.title}}
        </a>
        <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="nav-menu" class="navbar-menu">
        <div class="navbar-start">        
            {{navigation}}           
        </div>
        <div class="navbar-end">
            <div class="field is-grouped">
                <div class="navbar-item">
                    <a class="navbar-item" href="https://www.linkedin.com/in/masonseanklein">
                        <span class="icon">
                            <i class="fab fa-linkedin-in"></i>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-item" href="https://www.linkedin.com/in/masonseanklein">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-item" href="https://www.linkedin.com/in/masonseanklein">
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>