{{! Articles }}
{{! This is the post loop - each post will be output using this markup }}

{{#is "home"}}    
    {{#foreach posts}}
    <div class="post">
        <article>
            <div class="post-header">                
                <header>
                    <div class="post-header-title">
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <div class="post-letter">{{title}}</div>                                            
                                </div>
                                <div class="level-item">
                                    <p class="title is-2 post-title">{{title}}</p>
                                </div>                            
                            </div>                        
                        </nav>
                    </div>
                    <div class="post-header-info">
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item has-text-centered">                            
                                    <p class="subtitle is-6">
                                        By {{author}}
                                    </p>
                                </div>
                                <div class="level-item has-text-centered">                            
                                    <p class="subtitle is-6">
                                        //
                                    </p>
                                </div>
                                <div class="level-item has-text-centered">
                                    <p class="subtitle is-6">
                                        Published On {{date format="MMMM D, YYYY"}}
                                    </p>
                                </div>
                                {{#if tags}} 
                                <div class="level-item has-text-centered">                            
                                    <p class="subtitle is-6">
                                        //
                                    </p>
                                </div>
                                <div class="level-item has-text-centered">                            
                                    <p class="subtitle is-6">                                                               
                                        In
                                        {{tags separator=" | "}}                                
                                    </p>                            
                                </div>
                                {{/if}}                          
                            </div>
                        </nav>      
                    </div>                                   
                </header>
            </div>
            <div class="post-section">
                <section>                
                    <div class="post-section-excerpt">
                        <p itemprop="description">{{excerpt words="120"}}</p>                    
                    </div>
                    <div class="post-section-link">
                        <a href="{{url}}">Read On</a>                        
                    </div>
                </section>
            </div>
        </article>
    </div>        
    {{/foreach}}
{{else}}
    {{#foreach posts}}
        <div class="post-title"><a href="{{url}}">{{title}}</a></div>
        <div class="post-date">{{date format="mm d, yyyy"}}</div>
        <div class="post-letter"></div>
    {{/foreach}}
{{/is}}
