<nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
	{{#if prev}}
	<a class="pagination-previous" href="{{page_url prev}}">Previous</a>
	{{/if}}
	{{#if next}}
	<a class="pagination-next" href="{{page_url next}}">Next page</a>
	{{/if}}
	<ul class="pagination-list">
		{{#if prev}}
		<li>
			<a class="pagination-link"  href="{{page_url prev}}" aria-label="Goto page {{prev}}">{{prev}}</a>
		</li>
		{{/if}}	
		<li>
			<a class="pagination-link is-current" aria-label="Goto page {{page}}">{{page}}</a>
		</li>
		{{#if next}}
		<li>
			<a class="pagination-link"  href="{{page_url next}}" aria-label="Goto page {{next}}">{{next}}</a>
		</li>
		{{/if}}					
	</ul>
</nav>