<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>Sean Klein: {{meta_title}}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{! Place favicon.ico in the asset directory }}
        <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

        {{! Styles'n'Scripts }}
        <link rel="stylesheet" href="{{asset "css/main.min.css"}}">
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="//use.fontawesome.com/releases/v5.0.12/css/all.css" rel="stylesheet" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">        
        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}        
        <script>
            var modernBrowser = (
                'fetch' in window &&
                'assign' in Object
            );

            if (!modernBrowser) {
                var scriptElement = document.createElement('script');
                scriptElement.async = false;
                scriptElement.src = "{{asset "js/pollyfills.min.js"}}";
                document.head.appendChild(scriptElement);
            }
        </script>
    </head>

    <body class="{{body_class}}">

        {{{body}}}   

        {{> footer}}         

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
        <script src="{{asset "js/bulma-carousel.min.js"}}"></script>                                        
        <script src="{{asset "js/main.min.js"}}"></script>
    </body>
</html>
