<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sean Klein: Error</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="{{asset "css/main.min.css"}}">    
  </head>
  <body>
    <div class="error-page">      
    </div>
    <div class="error-content" id="error-message">
      <h1>Keep Calm and Return <a href="/">Home</a></h1>
    </div>
  </body>
</html>