{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<section class="hero is-large is-primary has-carousel">    

    <div class="hero-head">
        {{> header}}
    </div>

{{#is "home"}}

    <div class="hero-body">
        <div class="carousel carousel-animated carousel-animate-slide">
            <div class='carousel-container'>
                <div class='carousel-item has-text-centered'>
                    <h1>{{@blog.title}}</h1>
                    <h2>{{@blog.description}}</h2>
                </div> 
                {{#get "posts" filter="featured:true"}}
                {{#foreach posts}}
                <div class='carousel-item has-background'>
                    <nav class="level">
                        <div class="level-item has-text-centered is-background">
                            <div>
                                {{title}}
                            </div>
                        </div>                                        
                    </nav>
                </div>                
                {{/foreach}}
                {{/get}}
            </div>
            <div class="carousel-navigation is-overlay">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>      
    </div>

{{else}}
{{/is}}

</section>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
                <div class="latest-posts">
                    <div class="card">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column"></div>
                                <div class="column is-three-quarters is-centered">
                                    <div class="latest-posts-header">
                                        <nav class="level">
                                            <div class="level-item has-text-centered">
                                                <p class="subtitle is-4">
                                                    Latest Posts
                                                </p>
                                            </div>                                        
                                        </nav>
                                    </div>                                                                      
                                    {{> "loop"}}
                                    {{pagination}}
                                </div>
                                <div class="column"></div>                    
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
            <div class="column"></div>            
        </div>        
    </div>
</div>
