{{!< default}} 

{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template,
    which contains our header/footer. }} 
    
{{! Everything inside the #post tags pulls data from the post }} 
{{#post}} 

{{! Header transparent}} 
{{> header}}

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>

<div class="main-wrapper">
    <div class="content-wrapper">
        <div class="post-section">
            <article class="post-section-content"> 
                <header class="post-header">
                    <h1 class="post-title">{{title}}</h1>
                    <div class="post-info">
                        <div class="post-info-item info-author">By {{author}}</div>
                        <div class="post-info-item info-date">{{date format="MMMM D, YYYY"}}</div>                        
                    </div>
                    <div class="post-letter">{{title}}</div>
                </header>  
            </article>           

            <main>
                <article>
                    <section class="article_text post">
                        {{content}} {{#if tags}}
                        <section class="article-open_tag">
                            {{#foreach tags}}
                            <a class="tag" href="{{url}}">{{name}}</a>
                            {{/foreach}}
                        </section>
                        {{/if}}
                    </section>
                    <footer class="post">
                        {{#author}}
                        <section class="article-open_author">
                            {{#if image}}
                            <figure class="article-open_author_image">
                                <div class="img" style="background-image: url({{image}})">
                                    <span class="hidden">{{name}}'s Picture</span>
                                </div>
                            </figure>
                            {{/if}}
                            <div class="article-open_author_bio">
                                {{#if name}}
                                <h5 itemprop="author" itemscope itemtype="http://schema.org/Person">{{name}}</h5>{{/if}} {{#if bio}}
                                <p>{{bio}}
                                    <a href="/about" class="article_link-more fa fa-long-arrow-right"></a>
                                </p>{{/if}}
                            </div>
                        </section>
                        {{/author}}
                    </footer>
                </article>
            </main>
        <div>

    </div>{{!.content-wrapper}} {{> sidebar}}
</div>{{!.main-wrapper}}

<aside class="article_readNext">
    {{#next_post}}
    <a class="article_readNext_story col-2" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
        </section>
    </a>
    {{else}}
    <a class="article_readNext_story col-2 no-cover">
        <section class="post">
            <h4>This is already the newest post!</h4>
        </section>
    </a>
    {{/next_post}} {{#prev_post}}
    <a class="article_readNext_story prev col-2" href="{{url}}">
        <section class="post">
            <h4>{{title}}</h4>
        </section>
    </a>
    {{else}}
    <a class="article_readNext_story prev col-2">
        <section class="post">
            <h4>No more prev posts!</h4>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}