@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
$primary-font-stack: Roboto,
  Helvetica,
  Arial,
  sans-serif;
$code-block-font-stack: 'Courier New',
  Inconsolata,
  monospace,
  sans-serif;
$primary-color: #90c226;
$secondary-color: #404040;
$horizontol-rule-color: #bfbfbf;
$some-color: rgba(0, 0, 0, 0.07);
//$back-ground-color: #F2F2F2;
//$primary-color: #F2F2F2;
//$accent-color-two: #F2F2F2;
//$border-left-color: $secondary-color;
//$content-sidebar-color: $accent-color-one;
//$caption-color: $accent-color-one;
//$code-background-color: $accent-color-two;
$family-primary: $primary-font-stack;
$primary: $primary-color;
$secondary: $secondary-color;
$pagination-current-background-color: $primary-color;
$pagination-current-border-color: $primary-color;

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.sass";

body,
html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-size: 100%; //font-family: $font-stack;
  color: $secondary; //background-color: $back-ground-color;
  // -webkit-font-smoothing: antialiased;
  // -moz-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Post
// .fake-bg {
//   background: $accent-color-two;
//   position: relative;
//   z-index: 9000;
// }
// .fake-bg .post-section:first-child {
//   top: -99px;
//   position: relative;
//   z-index: 900;
//   margin-bottom: 0;
// }
// .post-section {
//   // max-width: 1170px;
//   // margin: 0 auto 10rem;
//   // padding: 0 0 15rem;
// }
// .post-section-content {
//   margin: 0 auto 12rem;
//   max-width: 720px;
// }
// .post-header {
//   position: relative;
//   z-index: 2;
//   margin-bottom: 2.6rem;
//   color: $primary;
// }
.post-header-title {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.post-title {
  word-wrap: break-word;
  text-transform: uppercase;
  margin-left: -1rem;
  line-height: 1.1;
}

.post-letter {
  visibility: hidden;
  position: absolute;
  left: 0;
  margin-left: 3.5rem;
}

.post-letter::first-letter {
  visibility: visible;
  font-size: 15rem;
  font-weight: 600;
  line-height: 0.8;
  color: $some-color;
  user-select: none;
  pointer-events: none;
  text-transform: uppercase;
}

.post-header-info {
  margin-bottom: 1rem;
}

.post-section {
  margin-bottom: 1rem;
}

.post-section-excerpt {
  margin-bottom: 0.5rem;
}

.post-section-link a {
  @extend
    .button,
    .is-primary;

  border-radius: 0;
  padding: 1.2rem 3rem;
}

.error-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.error-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  color: #cec9c4;
  position: absolute;
  padding: 15%;
  text-align: center;
}

.latest-posts {
  margin-top: -8rem;
}

.latest-posts-header {
  margin-top: 3rem;
}

.latest-posts-header p {
  text-transform: uppercase;
}

.partial-horizontal-rule {
  width: 10%;
  background-color: $some-color;
  height: 0.2rem;
}
